$font-stack: 'Open Sans';
$text-color: white;
$font-size: 24px;
@mixin display-flex {
  display: flex;
}
@mixin margin-auto {
  margin: auto;
}
@mixin shadow-button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
@mixin shadow-button-hover {
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@mixin jump {
  0% {
 transform: translateY(-20px);
 }
 50% {
 transform: translateY(50px);
 }
 100% {
   transform: translateY(-20px);
 }
}
/* -MAIN PAGE- */

.bodyMain {
  font: 100% $font-stack;
  color: $text-color;
  background-color: #C9009C;
}
.mainHeader {
  @include display-flex;
}

.mainHeader-logo {
@include margin-auto;
  padding-top: 90px;
  padding-bottom: 50px;

}
.introSection {
  font-size: $font-size;
    @include display-flex;
    flex-direction: column;
    @include margin-auto;
}
h2 {
  @include margin-auto;
  font-size: 14px;
}
#yourText {
  @include margin-auto;
}
.introSection p {
  @include margin-auto;
  text-align: center;
}
.introSection-paragraph {
@include margin-auto;
text-align: center;
}

.startButtonSection {
  @extend .introSection;
}
.startButtonSection-button {
  @include margin-auto;
  margin-top: 70px;
  padding: 25px 50px;
  font-size: $font-size;
  color: $text-color;
  background-color: #7F266C;
  border-radius: 5px;
  border: 0;
  @include shadow-button;
}
.startButtonSection-button:hover {
  @include shadow-button-hover;
}

/* - MAIN PAGE END - */

/* Styling the question page */
.bodyQuestion {
  background-color: #FF6E00;
  color: $text-color;
  font: 100% $font-stack;
  text-align: center;
  font-size: 30px;
}
 .nextButtonSection-button {
   @include margin-auto;
   margin-top: 70px;
   padding: 25px 50px;
   font-size: $font-size;
   color: $text-color;
   background-color: #7F266C;
   border-radius: 5px;
   border: 0;
   @include shadow-button;

   @extend .startButtonSection-button;
   background-color: #FFA91F;
   margin-bottom: 50px;

}
.questionHeader {
  @include display-flex;
  justify-content: flex-start;
  margin: 10px;
}
.bodyQuestion p {
  font-weight: bold;
  margin-bottom: 10px;
}
.bounceOut {
  animation-delay: 2s;
}
.nextButtonSection-alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
#nextButtonSection-paragraph {
display: none;
margin-top: 50px;
}
#nextButtonSection-paragraph p {
  font-size: 50%;
}

/* ending question page */
/* styling result page */
.bodyResults {
  background-color: #0FCBBF;
  color: $text-color;
  font: 100% $font-stack;
  text-align: center;
  font-size: $font-size;
}
.resultsfiveBody{
  @extend .bodyResults;
    background-color: #B4F205;
}
.resultsfourBody{
  @extend .bodyResults;
    background-color: #00CB3B;
}
.resultsthreeBody{
  @extend .bodyResults;
    background-color: #FFB800;
}
.resultstwoBody{
  @extend .bodyResults;
    background-color: #FF0031;
}
.resultsHeader {
  @extend .questionHeader;
  margin:10px;
}
.shareButtonSection-button {
  @extend  .startButtonSection-button;
  background-color: #0A8A82;
  margin-top: 30px;
  margin-bottom: 50px;
}
.shareButtonSection-button--lightgreen{
  @extend .shareButtonSection-button;
    background-color: #7BA603;
}
.shareButtonSection-button--darkgreen{
  @extend .shareButtonSection-button;
    background-color: #007F25;
}
.shareButtonSection-button--yellow{
  @extend .shareButtonSection-button;
    background-color:#FF8700;
}
.shareButtonSection-button--red{
  @extend .shareButtonSection-button;
    background-color:#A60020;
}
.resultsHeading {
  font-size: 40px;
  font-weight: bold;
}
.resultsParagraph {
  margin-top: 30px;
}
/* styling result page end */



/* animation */
.animatedMice {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
  @mixin mice {
    padding: 20px ;
    margin-bottom: 50px;
  }

.animatedMice-one {
  @include mice;
    -webkit-animation: jump 1s infinite  ;
    animation: jump 1s infinite ;
}
 @keyframes jump {
 @include jump ;
}
.animatedMice-two {
  @include mice;
    -webkit-animation: jump 1s infinite  ;
    animation: jump 1s infinite ;
    animation-delay: 0.15s;
}
 @keyframes jump {
 @include jump ;
}
.animatedMice-three {
  @include mice;
    -webkit-animation: jump 1s infinite  ;
    animation: jump 1s infinite ;
    animation-delay: 0.3s;
}
 @keyframes jump {
 @include jump ;
}
.animatedMice-four {
  @include mice;
    -webkit-animation: jump 1s infinite  ;
    animation: jump 1s infinite ;
    animation-delay: 0.45s;
}
 @keyframes jump {
 @include jump ;
}
.animatedMice-five {
  @include mice;
    -webkit-animation: jump 1s infinite  ;
    animation: jump 1s infinite ;
    animation-delay: 0.6s;
}
 @keyframes jump {
 @include jump ;

}
.animatedMice-six {
  @include mice;
    -webkit-animation: jump 1s infinite  ;
    animation: jump 1s infinite ;
    animation-delay: 0.75s;
}
 @keyframes jump {
 @include jump ;

}
.animatedMice-seven {
  @include mice;
    -webkit-animation: jump 1s infinite  ;
    animation: jump 1s infinite ;
    animation-delay: 0.9s;
}
 @keyframes jump {
 @include jump ;

}
.animatedMice-eight {
  @include mice;
    -webkit-animation: jump 1s infinite  ;
    animation: jump 1s infinite ;
    animation-delay: 1.05s;
}
 @keyframes jump {
 @include jump ;

}
.animatedMice-nine {
  @include mice;
    -webkit-animation: jump 1s infinite  ;
    animation: jump 1s infinite ;
    animation-delay: 1.2s;
}
 @keyframes jump {
 @include jump ;

}
.animatedMice-ten {
  @include mice;
    -webkit-animation: jump 1s infinite  ;
    animation: jump 1s infinite ;
    animation-delay: 1.35s;
}
 @keyframes jump {
 @include jump ;

}
/* animation ends */

input {
  margin-bottom: 30px;
}
h1 {
  font-size: 35px;
  margin-bottom: 20px;
}
